@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

:root {
    --green: #A9E190;
    --background-cells: #9EB3C2;
    --darkgrey: #7B95A7;
    --neutralgrey: #ABB3B9;
    --background-page: #FFFFFF;
    --text: #1E1E1E;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--background-page);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

h1{
    color: var(--neutralgrey);
}

h2, h3, h4, h5, h6{
    color: var(--darkgrey);
}

main{
    width: 90%;
    margin: 0 auto;
}

#online-section{
    margin-top: 3rem;
}

#online-users, #offline-users{
    display: flex;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    transition-duration: 0.6s;
}

.overflow-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition-duration: 0.6s;
}

#online-users{
    height: 40vh;
}


.card-online, .card-offline{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr;
    margin: 1rem 2rem;
    gap: 1rem;
    background-color: var(--background-cells);
    border-radius: 25px;
    width: 25.5%;
    padding: 1rem 2rem;
    transition-duration: 0.6s;
}

.card-offline{
    opacity: 50%;
}

.circle-online, .circle-offline{
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 2px var(--darkgrey) solid;
    margin: auto;
}

.circle-online{
    background-color: var(--green);
}

.slider{
    display: flex;
    align-content: center;
}

#online-left svg, #online-right svg, #offline-left svg, #offline-right svg{
    width: 50px;
    height: 50px;
}

#online-left svg:hover, #online-right svg:hover, #offline-left svg:hover, #offline-right svg:hover{
    fill: var(--neutralgrey);
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}

#online-left, #online-right, #offline-left, #offline-right{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button{
    z-index: 99;
}